typing_extensions==4.7.1
pandas
Pillow
exif
requests
skyfield # for orbit
tqdm
# for quaternions and euler angles:
#ahrs

#oem # to read the OEM file
## the below are transitive dependencies of oem
#lxml
#astropy
#defusedxml

# the below are transitive dependencies of picamera
colorzero
